/* hover */

.animate1 {
  animation: slide-down 1s forwards;
}
.animate2 {
  animation: slide-down 1.8s forwards;
}
.animate3 {
  animation: slide-down 2.5s forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.triangle {
  clip-path: polygon(1% 0, 0% 100%, 100% 50%);
}
