@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.triangle {
  clip-path: polygon(1% 0, 0% 100%, 100% 50%);
}

.gallery-container {
  column-count: 2;
  column-gap: 20px;
}
.gallery-container > #twork {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 20px;
  break-inside: avoid;
}

/* // for mobile */
@media (max-width: 600px) {
  .gallery-container {
    column-count: 1;
  }
}

.geist-font-400 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.geist-font-500 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.geist-font-600 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.geist-font-700 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
